<div class="container">
  <!--Question-->
  <div class="lead well">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="<%= @question.gravatar %>">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= @question.email %> asked:</h4>
        <%= @question.description %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <!--Answer Button-->
      <div>
        <button type="button" class="btn btn-success btn-sm"  data-toggle="modal" data-target="#new-answer-modal">Submit new answer</button>
      </div>
      <!--Answer Form-->
      <%= render 'home/new_answer_form' %>
      <!--Answer list-->
      <% @answers.each do |answer|%>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="<%= answer.gravatar %>">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%= answer.email %>> answered:</h4>
              <span><%= time_ago_in_words(answer.created_at) %> ago</span>
              <p><%= answer.body %></p>
            </div>
          </div>
      <% end %>
      <!--Alert when list is empty-->
      <% if @answers.empty?%>
          <div class="alert alert-info alert-dismissible" role="alert">
            Nothing here yet,be the the first to<strong> answer</strong>
          </div>
      <% end %>
    </div>
  </div>
</div>
